.h4{
    width: 60%;
    margin-left: 20%;
}
* {
    box-sizing: border-box;
}
/* .clip-path{
    float: left;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20%;
    width: 300px;
} */
/* .x{
    border:10px black;
    width: 95%;
    align: content 5px;
    size: 25px;
    margin-left: 50px;
    font-size: 40px;
    text-align: left;
    line-height: 1.5;
} */
hr{
    width: 50%;
    align-content: center;
    /* margin-left: 50%; */
    
}
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header {
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(20, 116, 172);
}

nav {
    background-color: #333;
    background-color: white;
    position: relative;;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000
    
}

nav a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(97, 87, 87);
    
}

main {
    background-color: white;
    text-align: center;
}

/* h2 {
    padding: 20px;
} */

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}
section:nth-child(1){
    background-color:  rgb(163, 129, 196);
}
section:nth-child(3){
    background-color: rgb(163, 129, 196);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    width: 20%;
    margin: 20px;
    border: 5px solid; 
    border-radius: 30px;
    border: solid black 2px;
    outline: #0c8aa0 solid 7px;
    box-shadow: 20px 20px 20px black;;

}

section h5 {
    margin: 40px;
}
/* 
footer {
    background-color: #333;
    overflow: hidden;
} */

/* footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
} */
section h1{
    color: rgb(31, 135, 239);
}
nav a:hover{
    color: coral;
}
 h2{
    color: rgb(37, 117, 160);
    font-size: 30px;
    text-shadow: 20px;
    text-decoration: underline;
    font-family:  'Times New Roman', Times, serif;
    }
ul{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

ul {
    font-style: normal ;
    /* background-color:rgb(5, 114, 54); */
    background-color:#c96567;
    
    font-family: 'Times New Roman', Times, serif;
    margin-right: 300px;
    margin-left: 300px;
    padding-right: 100px;
    text-align: left;
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
}
ul li h4{
    /* background-color: rgb(230, 168, 145); */
    background-color: rgb(156, 87, 221);
}
ul li{
    /* width: 100%;
    margin-left:10px;
    margin-right:10px; */
}
h4{
    /* width: 60%; */
    text-align: left;
    line-height: 50px;
    background-color: cornflowerblue;

}

section:nth-child(2){
    background-color: rgb(163, 129, 196);
}
a{
    line-height: 50px;
    font-size: 25px;
}
a:hover{
    color: black;
}
/* section:last-child a{
    background: url();
} */

section:last-child p{
    margin-left: 300px;
    margin-right: 300px;
    /* width: 60%; */
}
section:nth-child(2){
    background-color: section:nth-child(3){
        background-color: rgb(163, 129, 196);
    };
}

/* body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.container {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 10px;
}
.image {
    width: 25%;
    margin-top: 10%;
    margin-left: 25px;
    margin-bottom: 120px;
    flex-shrink: 0; /* Prevent the image from shrinking */
    margin-right: 20px; /* Adjust the margin as needed */
    /* border: 9px solid rgb(76, 80, 83);
     */
     padding: 0;
    border: 2px solid black;
    outline: #127a69 solid 10px;
    border-radius: 20px;
    box-shadow: 30px 30px 30px black;;


}
.content{
    width: 70%;
    height: 70%;
    /* box-shadow: 30px 30px 30px black;; */
}
.content p{
    margin-top: 20%;
    flex-grow:1;
    outline: #127a69 solid 10px;
    margin: auto;  
    padding: 20px;
    width: 75%;
    text-align: left;
    font-size: 25px;
    line-height: 50px;
    border: 2px solid black;
    background-color: #a79a9a;
    box-shadow: 30px 30px 30px black;;
     /* Allow the content to grow and take available space */
}
/* section:nth-child(3) p{
    color:darkgrey;
} */

footer {
    /* width: 10px; */
    padding: 100px;
    background-color: #000000;
}

footer a img{
    margin: 50px;
    outline:#187794 solid 5px;
    padding: none;
    border: 2px black solid;
    border-radius: 30px;
    width: 80px;
}
h5{
    color: white;
}

footer a img:hover{
    color: rgb(228, 41, 41);
    outline: tomato solid 5px;
}
.video{
    margin: none;
    /* padding: 20px; */
    /* border: 10px solid #72106f; */
    border: 4px solid black;
    outline: #7a11ea solid 7px;
    border-radius: 30px;
    box-shadow: 30px 30px 30px black;;
}
.memories{
    background-color:  rgb(230, 168, 145);
    width: 100%;
}
.memories img{
    width: 15%;
}
.vd{
    padding: 40px;
   background-color: #d6d1d1;
   
}
.dev{
    padding: 20px;
    background-color: #e1d5d5;
}

.abt{
    background-color: #dbd1da;
    padding: 10px;
}

.h4{
    box-shadow: 10px 10px 50px black;;
}
ul{
    box-shadow: 10px 10px 50px black;;
}

.line{
    width: 100%;
    color: #0d0a0a;
}
.vd{
   
        background-color: rgb(163, 129, 196);

}

.web{
    margin-left: 20px;
}